body {
    font-family: helvetica, sans-serif;
    width: 350px;
  }

  label {
    font-weight: bold;  
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: darkblue;
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    visibility: hidden;
    font-size: 25px;
    border: 5px solid black;
  }

 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2a4365;
    color: white;
    text-align: center;
  }